
.context {
	position: absolute;
	display: none;
	padding: 15px;
	border-radius:5px;
	background: rgba(255,255,255,1);
	color: #222;
	font-size: 13px;
	border:solid 1px #DDD;

	h1 {
		font-size:13px;
		padding: 10px;
		margin: 0px 0px;
		font-weight:500;
		background:#111;
	}

	li {
		list-style-type: none;
		display: block;
		padding: 10px 15px;
		margin: 2px 0px;
		transition: 0.25s all;

		&:hover{
			cursor: pointer;
			background: #29a9dc;
			padding-left:20px;
			padding-right:10px;
		}

	}

}
 