.progress {
	
	.bar {
		width: 40px;
		height: 40px;
		position:relative;
		margin: 5px;
		background: #bec5d1; 
		float: left;

		.inner {
			position:absolute;
			width:0%;
			height:0%;
			background: #6ac43c;
		}

	}

}

 