.slider {
	position: relative;
	width: 100%;
	height: 10px;
	background: #EEE;
	border-radius:5px;
	-moz-box-shadow:    inset 0 0 3px #999;
    -webkit-box-shadow: inset 0 0 3px #999;
    box-shadow:         inset 0 0 3px #999;
 
    .progress {
		position:absolute;
		left: 0%;
		width: 0%;
		height:100%;
		background: #29a9dc;

		.handle {
			position:absolute;
			border-radius: 5px;
			background: #EEE;
			width: 30px;
			height: 30px;
			top: 50%;
			left: 100%;
			color: #999;
			line-height:30px;
			font-size: 16px;
			text-align: center;
			cursor: pointer;
			transition: 0.25s all;
			transform:translate(-50%,-50%);

			&:active {
				background:#333743;
				color:#FFF;
			}

			&.min {
				left:0%;
			}

			&.top {
				top:0;
				transform:translate(-50%,-100%);
			}
			&.bottom {
				top:100%;
				transform:translate(-50%,0);
			}

		}
	 
	}

	&.vertical {
    	height:100%;
    	width:10px;
    	min-height:200px;

    	.progress {
    		height:0;
    		width:100%;
    		bottom:0;

    		.handle {
    			left:50%!important;
    			top:0;
    		 	&.min {
					top:100%;
				}
    		}

    	}	
    }

}		
 