@mixin filter-blur($val) {

	filter: blur($val); /* Someday, sigh ... */ 
	-webkit-filter: blur($val); /* Prefixed CSS3 blur filters */
	-moz-filter: blur($val); 
	-o-filter: blur($val); 
	-ms-filter: blur($val); 
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$val'); /* IE lte 9 */	

}

.edgefold {
	
	position:relative;
	padding:10px;
	margin:20px;

	.content {
		background:#fff;
		padding:20px;
		line-height:20px;
		position:relative;	
	}

	.shade {
		@include filter-blur(12px);
		background:rgba(0,0,0,0.07);
		width:90px;
		height:90px;
		border-radius:50%;
		position:absolute;
		&.bottom-left {
			bottom:0;
			left:0;
		}
		&.bottom-right {
			bottom:0;
			right:0;
		}
		&.top-left {
			top:0;
			left:0;
		}
		&.top-right {
			top:0;
			right:0;
		}
		&.edge-bottom {
			bottom:0;
			width:100%;
		}
		&.edge-top {
			top:0;
			width:100%;
		}
		&.edge-top, &.edge-bottom {
			&.middle{
				left:50%!important;
				transform: translateX(-50%);
			}
			&.half {
				width:50%;
			}
		}
		&.edge-left, &.edge-right {
			height:100%;
			top:0;
			&.thin{
				height:100%!important;
				width:10px;
			}
			&.middle{
				top:50%!important;
				transform: translateY(-50%);
			}
			&.half {
				height:50%!important;
			}
		}
		&.edge-left {
			left:0;
		}
		&.edge-right {
			right:0;
		}
		&.thin {
			height:10px;
		}
	}

}
 
 